
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 44rem;
}.candidate-discription-Gzt {
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  width: 100%;
  height: 89.7rem;

  .user-video-CNk {
    vertical-align: top;
    width: 41.4rem;
    height: 89.6rem;
    position: absolute;
    left: 2.6rem;
    top: 0.05rem;
    object-fit: cover;
  }
  .header-i6C {
    height: 1.9rem;
    top: 5.65rem;
    column-gap: 3.5rem;
    align-items: center;
    width: 23.4rem;
    position: absolute;
    left: 11.6rem;
    overflow: hidden;
    display: flex;

    .candidates-RWQ {
      font-weight: 900;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.6rem;
    }
    .vector-1-8vc {
      flex-shrink: 0;
      width: 0;
      height: 1.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .companies-VFN {
      flex-shrink: 0;
      cursor: pointer;
      font-weight: 900;
      color: rgba(255, 255, 255, 0.6000000238);
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 1.6rem;
      line-height: 1.1725;
    }
  }
  .bars-status-bar-iphone-x-QNL {
    top: 0.05rem;
    display: flex;
    box-sizing: border-box;
    padding: 1.3rem 1.45rem 1.3rem 2.318rem;
    width: 41.4rem;
    left: 2.6rem;
    height: 4.4rem;
    position: absolute;
    overflow: hidden;
    align-items: center;

    .time-style-t2c {
      padding: 0rem 1.612rem 0rem 1.65rem;
      position: relative;
      letter-spacing: -0.03rem;
      flex-shrink: 0;
      text-align: center;
      font-weight: 600;
      font-family: SF Pro Text, 'Source Sans Pro';
      margin-right: 24.1408rem;
      height: 100%;
      overflow: hidden;
      line-height: 1.2575;
      color: #ffffff;
      white-space: nowrap;
      box-sizing: border-box;
      font-size: 1.5rem;
    }
    .mobile-signal-K7v {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.555rem 0rem 0rem;
      width: 1.8768rem;
      height: 1.0667rem;
    }
    .wifi-BR2 {
      margin: 0rem 0.961rem 0.037rem 0rem;
      width: 1.6861rem;
      height: 1.0966rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .battery-Hyr {
      flex-shrink: 0;
      margin-top: 0.05rem;
      width: 2.45rem;
      height: 1.05rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .group-152-RaG {
    width: 44rem;
    height: 57.5rem;
    position: absolute;
    left: 0;
    top: 32.05rem;

    .background-jqr {
      border-radius: 0.8rem 0.8rem 0 0;
      width: 41.5rem;
      height: 52.5rem;
      position: absolute;
      left: 2.5rem;
      top: 5rem;
      background: linear-gradient(180deg, rgba(230, 153, 157, 0.8799999952) 0%, rgba(255, 209, 253, 0.8799999952) 78.65%, rgba(249, 242, 249, 0.8799999952) 100%);
    }
    .tab-upper-bNG {
      position: absolute;
      left: 41.3307rem;
      top: 6.825rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.95rem;
      height: 0.95rem;
    }
    .education-box-ixg {
      border-radius: 0.8rem;
      width: 38.4875rem;
      height: 11.8rem;
      position: absolute;
      left: 3.8086rem;
      top: 16.9rem;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);

      .group-10-rJC {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;

        .group-18-1wn {
          width: 100%;
          height: 100%;
          background-color: #f8f9fc;
          border-radius: 0.8rem;

          .education-box-nBr {
            height: 100%;
            box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
            border-radius: 0.8rem;
            width: 100%;

            .group-10-Xv8 {
              width: 100%;
              height: 100%;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.8rem;

              .group-18-Vrx {
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                background-color: #f8f9fc;
                border-radius: 0.8rem;
                width: 100%;
                height: 100%;

                .education-box-fWY {
                  width: 100%;
                  height: 100%;
                  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
                  border-radius: 0.8rem;

                  .group-10-EZe {
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                    border-radius: 0.8rem;

                    .group-18-14c {
                      width: 100%;
                      height: 100%;
                      border-radius: 0.8rem;

                      .rectangle-5-yGL {
                        border-radius: 0.8rem;
                        width: 100%;
                        height: 11.8rem;
                        border: solid 0.1rem #000000;
                        box-sizing: border-box;
                        background-color: rgba(248, 249, 252, 0.4799999893);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .experience-box-E5n {
      top: 29.7rem;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
      border-radius: 0.8rem;
      width: 38.4875rem;
      height: 10.6rem;
      position: absolute;
      left: 3.9089rem;

      .group-10-K7E {
        height: 100%;
        border-radius: 0.8rem;
        width: 100%;

        .group-18-G2U {
          background-color: #f8f9fc;
          border-radius: 0.8rem;
          width: 100%;
          height: 100%;

          .experience-box-2GY {
            height: 100%;
            box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
            border-radius: 0.8rem;
            margin-right: 0.0964rem;
            width: 38.4rem;

            .group-10-ZXN {
              width: 100%;
              height: 100%;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              border-radius: 0.8rem;

              .group-18-Xj6 {
                width: 100%;
                display: flex;
                border: solid 0.1rem #000000;
                border-radius: 0.8rem;
                box-sizing: border-box;
                padding: 2.8rem 8.011rem 1.6rem 6.045rem;
                height: 100%;
                align-items: center;
                background-color: rgba(248, 249, 252, 0.2199999988);

                .jomhack-s2G {
                  margin: 0.809rem 5.626rem 0rem 0rem;
                  width: 4.0183rem;
                  height: 4.0091rem;
                  object-fit: cover;
                  vertical-align: top;
                  border-radius: 2rem;
                  flex-shrink: 0;
                }
                .experience-box-B2x {
                  flex-direction: column;
                  flex-shrink: 0;
                  height: 100%;
                  row-gap: 0.7rem;
                  display: flex;

                  .company-jomhack-7BW {
                    font-family: PingFang SC, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 600;
                    line-height: 1.2575;
                    color: #86878b;
                  }
                  .role-coordinator-2ZN {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 600;
                    line-height: 1.2575;
                    color: #86878b;
                    font-family: PingFang SC, 'Source Sans Pro';
                  }
                  .period-jun-2022-present-A9n {
                    font-weight: 600;
                    line-height: 1.2575;
                    color: #86878b;
                    font-family: PingFang SC, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
    .skills-box-Kgt {
      top: 41.6rem;
      box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
      border-radius: 0.8rem;
      width: 38.4875rem;
      height: 9.2rem;
      position: absolute;
      left: 3.9089rem;

      .group-10-fEx {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;

        .group-18-ptY {
          border-radius: 0.8rem;
          width: 100%;
          height: 100%;
          background-color: #f8f9fc;

          .skills-box-Byz {
            width: 100%;
            height: 100%;
            box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
            border-radius: 0.8rem;

            .group-10-xjr {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .group-18-vwa {
                height: 100%;
                background-color: rgba(248, 249, 252, 0.2199999988);
                border-radius: 0.8rem;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                padding: 0rem 7.075rem 0rem 2.023rem;
                width: 100%;
                align-items: center;
                border: solid 0.1rem #000000;
                box-sizing: border-box;
                display: flex;

                .auto-group-nzye-4Xz {
                  flex-shrink: 0;
                  margin: 0rem 3.539rem 1.9rem 0rem;
                  width: 8.009rem;
                  align-items: flex-end;
                  display: flex;
                  flex-direction: column;

                  .skills-BsW {
                    color: #161722;
                    font-family: PingFang SC, 'Source Sans Pro';
                    margin-bottom: 0.7rem;
                    font-weight: 600;
                    line-height: 1.2575;
                    white-space: nowrap;
                    flex-shrink: 0;
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                  }
                  .c-KD2 {
                    width: 4.0183rem;
                    height: 4rem;
                    object-fit: cover;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                }
                .asm-FcU {
                  width: 4.0091rem;
                  height: 4rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 1.4rem 3.568rem 0rem 0rem;
                }
                .python-BW8 {
                  height: 4rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 1.4rem 3.573rem 0rem 0rem;
                  width: 4.0183rem;
                }
                .figma-hzG {
                  height: 4rem;
                  object-fit: cover;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 1.4rem;
                  width: 2.6733rem;
                }
              }
            }
          }
        }
      }
    }
    .item--fpc {
      width: 10.0457rem;
      height: 10rem;
      position: absolute;
      left: 18.7854rem;
      top: 0;

      .ellipse-3-D5S {
        object-fit: contain;
        vertical-align: top;
        width: 10.0457rem;
        height: 10rem;
      }
    }
    .image-2-kbA {
      vertical-align: top;
      border-radius: 4.1rem;
      width: 14.2515rem;
      height: 10rem;
      position: absolute;
      left: 4.8rem;
      top: 18.4rem;
      object-fit: cover;
    }
    .education-3KN {
      height: 2.6rem;
      position: absolute;
      top: 17.4rem;
      font-size: 2rem;
      line-height: 1.2575;
      color: #161722;
      white-space: nowrap;
      width: 8.7rem;
      left: 6.187rem;
      text-align: center;
      font-weight: 600;
      font-family: PingFang SC, 'Source Sans Pro';
    }
    .education-box-Wik {
      left: 19.589rem;
      top: 18.8rem;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-bottom: 0.1rem;
      width: 20.5467rem;
      height: 5.7rem;
      position: absolute;

      .course-computer-communication-system-engineering-QZE {
        color: #86878b;
        font-family: PingFang SC, 'Source Sans Pro';
        margin-bottom: 0.9rem;
        max-width: 19.6rem;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.2575;
      }
      .status-ongoing-2nd-year-WcG {
        font-weight: 600;
        line-height: 1.2575;
        color: #86878b;
        font-family: PingFang SC, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.2rem;
      }
    }
    .experience-q8k {
      font-size: 2rem;
      color: #161722;
      font-family: PingFang SC, 'Source Sans Pro';
      position: absolute;
      top: 30.4rem;
      left: 6.4247rem;
      text-align: center;
      font-weight: 600;
      line-height: 1.2575;
      white-space: nowrap;
      width: 9.4rem;
      height: 2.6rem;
    }
    .intern-engineering-ccse-operations-vfz {
      height: 2rem;
      position: absolute;
      left: 10.0457rem;
      top: 14.1rem;
      font-size: 1.3rem;
      font-weight: 600;
      white-space: nowrap;
      width: 22.6rem;
      color: rgba(0, 0, 0, 0.6000000238);
      font-family: PingFang SC, 'Source Sans Pro';
      line-height: 1.5;
    }
    .samuel-cheng-DQC {
      font-weight: 600;
      color: #161722;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      left: 15.2057rem;
      top: 10.5rem;
      font-size: 2.6rem;
      line-height: 1.2575;
      font-family: PingFang SC, 'Source Sans Pro';
      width: 16.1rem;
      height: 3.3rem;
    }
    .background-7Va {
      box-shadow: 0 -0.033rem 0 #d0d1d3;
      background-color: #ffffff;
      width: 41.4943rem;
      height: 1.7rem;
      position: absolute;
      left: 2.4rem;
      top: 55.8rem;
    }
    .yog-2025-RWG {
      font-size: 1.2rem;
      font-weight: 600;
      color: #86878b;
      font-family: PingFang SC, 'Source Sans Pro';
      height: 1.6rem;
      position: absolute;
      top: 24.4rem;
      line-height: 1.2575;
      white-space: nowrap;
      width: 6.4rem;
      left: 19.7rem;
    }
    .button-theme-6-8Qg {
      white-space: nowrap;
      align-items: center;
      border-radius: 3.6rem;
      height: 4rem;
      left: 19.3rem;
      font-weight: 600;
      line-height: 1.25;
      letter-spacing: -0.016rem;
      color: #02251c;
      display: flex;
      box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
      width: 8rem;
      cursor: pointer;
      position: absolute;
      top: 51.8rem;
      overflow: hidden;
      font-size: 1.6rem;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      box-sizing: border-box;
    }
  }
}
