
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.candidate-video-h6x {
  box-sizing: border-box;
  width: 100%;
  height: 89.7rem;
  position: relative;
  border: solid 0.1rem #000000;

  .user-video-czc {
    position: absolute;
    left: 0;
    top: 0.05rem;
    object-fit: cover;
    vertical-align: top;
    width: 41.4rem;
    height: 89.6rem;
  }
  .header-wX6 {
    column-gap: 3.5rem;
    align-items: center;
    width: 23.4rem;
    position: absolute;
    left: 9rem;
    top: 5.65rem;
    overflow: hidden;
    display: flex;
    height: 1.9rem;

    .candidates-F1z {
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.1725;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
    }
    .vector-1-mW8 {
      width: 0;
      height: 1.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .companies-WyW {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.6rem;
      color: rgba(255, 255, 255, 0.6000000238);
      font-weight: 900;
      line-height: 1.1725;
      cursor: pointer;
      text-align: center;
    }
  }
  .bars-status-bar-iphone-x-qF6 {
    height: 4.4rem;
    position: absolute;
    top: 0.05rem;
    overflow: hidden;
    align-items: center;
    width: 41.4rem;
    padding: 1.3rem 1.45rem 1.3rem 2.318rem;
    left: 0;
    display: flex;
    box-sizing: border-box;

    .time-style-Ws2 {
      box-sizing: border-box;
      text-align: center;
      font-weight: 600;
      line-height: 1.2575;
      position: relative;
      letter-spacing: -0.03rem;
      font-family: SF Pro Text, 'Source Sans Pro';
      white-space: nowrap;
      height: 100%;
      font-size: 1.5rem;
      flex-shrink: 0;
      margin-right: 24.1408rem;
      padding: 0rem 1.612rem 0rem 1.65rem;
      overflow: hidden;
      color: #ffffff;
    }
    .mobile-signal-PA8 {
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.555rem 0rem 0rem;
      width: 1.8768rem;
      height: 1.0667rem;
    }
    .wifi-uPN {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0.961rem 0.037rem 0rem;
      width: 1.6861rem;
      height: 1.0966rem;
      object-fit: contain;
    }
    .battery-2it {
      width: 2.45rem;
      height: 1.05rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-top: 0.05rem;
    }
  }
  .main-page-icon-ZTv {
    flex-direction: column;
    width: 4.5rem;
    height: 26.3rem;
    position: absolute;
    left: 36.2rem;
    top: 43.35rem;
    align-items: center;
    display: flex;

    .user-icon-V6g {
      width: 100%;
      cursor: pointer;
      flex-shrink: 0;

      .ellipse-3-Epx {
        height: 4.5rem;
        border: solid 0.1rem #ffffff;
        box-sizing: border-box;
        background-repeat: no-repeat;
        border-radius: 2.25rem;
        width: 100%;
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:08879c0eee77c2dda4ed3131fc02c2af6b41cfc4');
      }
    }
    .auto-group-aums-Yak {
      box-sizing: border-box;
      padding: 1.5rem 0.3rem 0rem 0.2rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-cchv-Thi {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        width: 100%;
        height: 5.7rem;

        .likes-1DS {
          opacity: 0.9;
          box-sizing: border-box;
          position: absolute;
          top: 0.3rem;
          font-weight: 900;
          height: 5.4rem;
          left: 0.25rem;
          font-size: 1.3rem;
          line-height: 1.1725;
          white-space: nowrap;
          width: 3.55rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          padding: 3.8rem 0.6rem 0rem 0.65rem;
          text-align: center;
        }
        .saved-3fv {
          object-fit: cover;
          vertical-align: top;
          width: 4rem;
          height: 4.32rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .simple-profile-B1S {
        margin-bottom: 2.5rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .chat-WJc {
        vertical-align: top;
        flex-shrink: 0;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
      }
      .chat-FGC {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.2575;
        color: #ffffff;
        font-family: PingFang SC, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
  }
  .user-info-nG8 {
    top: 73.25rem;
    width: 24.1rem;
    height: 4.9rem;
    position: absolute;
    left: 1.9rem;

    .samcheng-1-28-uLk {
      font-size: 1.7rem;
      line-height: 1.171875;
      align-items: baseline;
      white-space: nowrap;
      display: flex;
      margin-bottom: 0.7rem;
      font-weight: 900;
      color: #c4c4c4;
      font-family: Roboto, 'Source Sans Pro';

      .samcheng-1-28-uLk-sub-0 {
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 1.1725;
        color: #c4c4c4;
        font-family: Roboto, 'Source Sans Pro';
      }
      .samcheng-1-28-uLk-sub-1 {
        font-family: PingFang SC, 'Source Sans Pro';
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.2575;
        color: #c4c4c4;
      }
      .samcheng-1-28-uLk-sub-2 {
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.7rem;
        font-weight: 900;
        line-height: 1.1725;
        color: #c4c4c4;
      }
      .samcheng-1-28-uLk-sub-3 {
        color: #c4c4c4;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 1.1725;
      }
    }
    .intern-engineeringee-operations-ZLk {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.3;
      color: #ffffff;
      font-family: PingFang SC, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .save-5K6 {
    object-fit: contain;
    vertical-align: top;
    width: 1.9rem;
    height: 2.35rem;
    position: absolute;
    left: 27rem;
    top: 84.85rem;
  }
  .vector-QMN {
    object-fit: contain;
    vertical-align: top;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    left: 19.4rem;
    top: 84.65rem;
  }
  .navigation-j8k {
    box-sizing: border-box;
    padding: 2.5rem 5rem 2.15rem 6.4rem;
    position: absolute;
    top: 82.05rem;
    display: flex;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.8957219124) 0%, rgba(255, 99, 99, 0.8957219124) 0.01%, rgba(175, 67, 210, 0.8957219124) 74.48%, rgba(227, 94, 94, 0.8957219124) 99.99%);
    width: 41.4rem;
    height: 7.6rem;
    left: 0;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .home-suA {
      margin: 0rem 4.3rem 0.018rem 0rem;
      width: 2rem;
      height: 2.5323rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .profile-aYg {
      width: 2.4rem;
      height: 2.7rem;
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 11.9rem 0.25rem 0rem;
    }
    .save-TsN {
      height: 2.35rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.6rem 4.9rem 0rem 0rem;
      width: 1.9rem;
    }
    .video-zcQ {
      margin-top: 0.25rem;
      width: 2.6rem;
      height: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .icon-inbox-FHS {
    top: 84.75rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    left: 19.9rem;
  }
}
