
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42rem;
}.company-apply-rL8 {
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  height: 89.7rem;
  position: relative;

  .vhack-page-2-P5A {
    object-fit: contain;
    vertical-align: top;
    width: 0.15rem;
    height: 0.3874rem;
    position: absolute;
    left: 39.8rem;
    top: 2.15rem;
  }
  .group-141-Vtt {
    position: absolute;
    left: 0;
    top: 0;
    width: 41.4rem;
    height: 89.7rem;

    .background-Ak8 {
      position: absolute;
      background-color: #c4c4c4;
      background-size: 100% 100%;
      background-position: center;
      width: 41.4rem;
      height: 89.6rem;
      left: 0;
      top: 0.1rem;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:793dbd3c30e4389d58417359a7d387554b62bc00');
    }
    .vector-1-UF2 {
      top: 6.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 0;
      height: 1.1rem;
      position: absolute;
      left: 21rem;
    }
    .combined-shape-QeU {
      width: 2.2rem;
      height: 1.05rem;
      position: absolute;
      left: 37.5rem;
      top: 1.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-Lo2 {
      position: absolute;
      left: 37.7rem;
      top: 2rem;
      background-color: #ffffff;
      border-radius: 0.1rem;
      width: 1.8rem;
      height: 0.65rem;
    }
    .wifi-GAt {
      left: 34.8526rem;
      top: 1.7331rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.6861rem;
      height: 1.0966rem;
      position: absolute;
    }
    .mobile-signal-bDA {
      width: 1.8768rem;
      height: 1.0667rem;
      position: absolute;
      left: 32.4208rem;
      top: 1.7667rem;
      object-fit: contain;
      vertical-align: top;
    }
    .time-style-ioa {
      color: #ffffff;
      white-space: nowrap;
      width: 5.9616rem;
      left: 2.3184rem;
      top: 1.4rem;
      font-family: SF Pro Text, 'Source Sans Pro';
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: -0.03rem;
      padding: 0rem 1.612rem 0rem 1.65rem;
      height: 1.8rem;
      position: absolute;
      overflow: hidden;
      box-sizing: border-box;
      font-weight: 600;
      line-height: 1.2575;
    }
    .header-Mbe {
      left: 9.3rem;
      overflow: hidden;
      align-items: center;
      width: 23.4rem;
      position: absolute;
      top: 5.6rem;
      display: flex;
      column-gap: 3.5rem;
      height: 1.9rem;

      .candidates-RbW {
        line-height: 1.1725;
        color: rgba(255, 255, 255, 0.6000000238);
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
      }
      .vector-1-8kp {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 0;
        height: 1.1rem;
      }
      .companies-Upg {
        text-align: center;
        font-weight: 900;
        line-height: 1.1725;
        letter-spacing: 0.01rem;
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
      }
    }
    .group-126-D1a {
      left: 0;
      top: 24.3rem;
      width: 41.4rem;
      height: 65.4rem;
      position: absolute;

      .group-139-jkc {
        width: 41.4rem;
        height: 65.4rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .background-s68 {
          width: 41.4rem;
          height: 57.1rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #f5f5f4;
          border-radius: 0.8rem 0.8rem 0 0;
        }
        .chat-PKN {
          position: absolute;
          font-weight: 900;
          line-height: 1.1725;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          width: 2.8rem;
          height: 1.6rem;
          left: 19.2rem;
          top: 1.2rem;
          text-align: center;
          font-size: 1.3rem;
          color: #161722;
        }
        .background-5xt {
          top: 0;
          background: linear-gradient(180deg, #fabfc1 1.04%, rgba(250, 166, 170, 0.981553793) 26.04%, rgba(179, 142, 144, 0.9608018398) 52.6%, rgba(200, 165, 167, 0.9657108784) 94.11%, rgba(228, 190, 192, 0.5572916865) 100%);
          border-radius: 0.8rem 0.8rem 0 0;
          width: 41.4rem;
          height: 65.4rem;
          position: absolute;
          left: 0;
        }
        .intern-software-engineer-Jak {
          color: #161722;
          font-family: PingFang SC, 'Source Sans Pro';
          height: 1.9rem;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.2575;
          text-align: center;
          white-space: nowrap;
          width: 16.9rem;
          position: absolute;
          left: 12.15rem;
          top: 1.2rem;
        }
        .background-mDS {
          top: 63.7rem;
          box-shadow: 0 -0.033rem 0 #d0d1d3;
          background-color: #ffffff;
          width: 41.4rem;
          height: 1.7rem;
          position: absolute;
          left: 0;
        }
        .group-15-6Fi {
          width: 38.4rem;
          height: 8.1rem;
          position: absolute;
          left: 1.6rem;
          top: 6.2rem;
          box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
          border-radius: 0.8rem;

          .group-10-phW {
            border-radius: 0.8rem;
            width: 100%;
            height: 100%;

            .group-18-Bnx {
              height: 100%;
              border-radius: 0.8rem;
              width: 100%;

              .rectangle-5-x32 {
                height: 8.1rem;
                border: solid 0.1rem rgba(0, 0, 0, 0.9599999785);
                box-sizing: border-box;
                background-color: #f8f9fc;
                border-radius: 0.8rem;
                width: 100%;
              }
            }
          }
        }
        .candidate-must-be-currently-undergoing-a-course-in-it-computer-science-computer-engineering-pb2 {
          height: 2.8rem;
          left: 3rem;
          top: 10.2rem;
          font-family: PingFang SC, 'Source Sans Pro';
          width: 35.5rem;
          position: absolute;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #86878b;
        }
        .qualification-frY {
          width: 11.1rem;
          height: 2.6rem;
          position: absolute;
          left: 3.2rem;
          top: 6.9rem;
          text-align: center;
          line-height: 1.2575;
          color: #161722;
          font-family: PingFang SC, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 600;
          white-space: nowrap;
        }
        .group-15-vXa {
          top: 15.4rem;
          box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
          border-radius: 0.8rem;
          width: 38.4rem;
          height: 8.4rem;
          position: absolute;
          left: 1.6rem;

          .group-10-rAL {
            width: 100%;
            height: 100%;
            backdrop-filter: blur(0.2rem);
            border-radius: 0.8rem;

            .group-18-Qhe {
              height: 100%;
              border-radius: 0.8rem;
              width: 100%;

              .rectangle-5-mo6 {
                border: solid 0.1rem rgba(0, 0, 0, 0.9599999785);
                box-sizing: border-box;
                background-color: #f8f9fc;
                border-radius: 0.8rem;
                width: 100%;
                height: 8.4rem;
              }
            }
          }
        }
        .involved-in-design-coding-testing-and-deployment-of-modern-information-systems-candidates-will-have-the-opportunity-to-work-on-exciting-state-of-the-art-systems-running-on-the-net-platform-3Vi {
          font-size: 1.1rem;
          font-weight: 600;
          color: #86878b;
          width: 35.3rem;
          position: absolute;
          top: 18.8rem;
          font-family: PingFang SC, 'Source Sans Pro';
          height: 4.2rem;
          left: 3rem;
          line-height: 1.2575;
        }
        .job-scope-sUk {
          line-height: 1.2575;
          white-space: nowrap;
          width: 8.9rem;
          position: absolute;
          text-align: center;
          font-weight: 600;
          color: #161722;
          font-family: PingFang SC, 'Source Sans Pro';
          height: 2.6rem;
          left: 3.35rem;
          top: 15.9rem;
          font-size: 2rem;
        }
        .group-15-nLp {
          box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
          border-radius: 0.8rem;
          width: 38.4rem;
          height: 15.6rem;
          position: absolute;
          left: 1.6rem;
          top: 25.1rem;

          .group-10-Vm2 {
            border-radius: 0.8rem;
            width: 100%;
            height: 100%;

            .group-18-SgG {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .rectangle-5-CvL {
                border: solid 0.1rem rgba(0, 0, 0, 0.9599999785);
                box-sizing: border-box;
                background-color: #f8f9fc;
                border-radius: 0.8rem;
                width: 100%;
                height: 15.6rem;
              }
            }
          }
        }
        .candidates-with-solid-hands-on-working-experience-using-microsoft-technologies-which-consist-of-the-net-framework-c-and-etc-candidate-familiar-with-stored-procedures-sql-net-development-winforms-web-development-candidates-experience-in-oo-programming-3-tier-development-and-sql-is-preferred-pro-active-person-with-good-initiative-and-good-english-communication-skills-6F2 {
          top: 29rem;
          height: 8.9rem;
          position: absolute;
          left: 3rem;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #86878b;
          font-family: PingFang SC, 'Source Sans Pro';
          width: 35.1rem;
        }
        .looking-for-22C {
          left: 3.3rem;
          top: 25.9rem;
          text-align: center;
          font-weight: 600;
          line-height: 1.2575;
          color: #161722;
          font-family: PingFang SC, 'Source Sans Pro';
          width: 9.8rem;
          white-space: nowrap;
          position: absolute;
          font-size: 2rem;
          height: 2.6rem;
        }
        .group-15-vtG {
          border-radius: 0.8rem;
          width: 38.4rem;
          height: 16.1rem;
          position: absolute;
          left: 1.6rem;
          top: 41.7rem;
          box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);

          .group-10-GhE {
            width: 100%;
            height: 100%;
            border-radius: 0.8rem;

            .group-18-EPA {
              width: 100%;
              height: 100%;
              border-radius: 0.8rem;

              .rectangle-5-BpC {
                width: 100%;
                height: 16.1rem;
                border: solid 0.1rem rgba(0, 0, 0, 0.9599999785);
                box-sizing: border-box;
                background-color: #f8f9fc;
                border-radius: 0.8rem;
              }
            }
          }
        }
        .candidates-who-prefer-to-travel-may-be-given-opportunities-to-travel-candidates-who-prefer-not-to-travel-may-work-locally-if-candidates-preference-is-to-travel-all-accommodation-allowances-per-diems-etc-will-be-fully-covered-with-full-benefits-provided-by-the-company-opportunity-to-work-with-customers-from-malaysia-london-holland-paris-united-states-singapore-hk-japan-dubai-etc-SVE {
          font-family: PingFang SC, 'Source Sans Pro';
          height: 8.3rem;
          left: 3.1rem;
          top: 45.1rem;
          font-size: 1.1rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #86878b;
          width: 35.6rem;
          position: absolute;
        }
        .benefits-NGQ {
          width: 7.1rem;
          left: 3.4rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2575;
          color: #161722;
          font-family: PingFang SC, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.6rem;
          position: absolute;
          top: 42.5rem;
          text-align: center;
        }
      }
      .close-icon-eDv {
        top: 1.525rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.95rem;
        height: 0.95rem;
        position: absolute;
        left: 38.525rem;
      }
      .button-theme-6-a7a {
        overflow: hidden;
        line-height: 1.25;
        white-space: nowrap;
        border-radius: 3.6rem;
        height: 4rem;
        top: 58.8rem;
        font-size: 1.6rem;
        align-items: center;
        cursor: pointer;
        left: 16.7rem;
        font-weight: 600;
        letter-spacing: -0.016rem;
        color: #02251c;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        width: 8.5rem;
        position: absolute;
        box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.150000006);
        box-sizing: border-box;
      }
    }
  }
}
