
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 42rem;
}.company-discription-sEp {
  width: 100%;
  height: 89.7rem;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.company-discription-sEp .vhack-page-2-zKS {
  width: 0.15rem;
  height: 0.3874rem;
  position: absolute;
  left: 39.8rem;
  top: 2.15rem;
  object-fit: contain;
  vertical-align: top;
}
.company-discription-sEp .group-141-Vmz {
  width: 41.4rem;
  height: 89.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.company-discription-sEp .group-141-Vmz .background-DT6 {
  width: 41.4rem;
  height: 89.6rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #c4c4c4;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/background-bg.png');
}
.company-discription-sEp .group-141-Vmz .vector-1-v6c {
  width: 0;
  height: 1.1rem;
  position: absolute;
  left: 21rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.company-discription-sEp .group-141-Vmz .combined-shape-f4C {
  width: 2.2rem;
  height: 1.05rem;
  position: absolute;
  left: 37.5rem;
  top: 1.8rem;
  object-fit: contain;
  vertical-align: top;
}
.company-discription-sEp .group-141-Vmz .rectangle-zMN {
  width: 1.8rem;
  height: 0.65rem;
  position: absolute;
  left: 37.7rem;
  top: 2rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
}
.company-discription-sEp .group-141-Vmz .wifi-WKi {
  width: 1.6861rem;
  height: 1.0966rem;
  position: absolute;
  left: 34.8526rem;
  top: 1.7331rem;
  object-fit: contain;
  vertical-align: top;
}
.company-discription-sEp .group-141-Vmz .mobile-signal-CyE {
  width: 1.8768rem;
  height: 1.0667rem;
  position: absolute;
  left: 32.4208rem;
  top: 1.7667rem;
  object-fit: contain;
  vertical-align: top;
}
.company-discription-sEp .group-141-Vmz .time-style-8M6 {
  box-sizing: border-box;
  padding: 0rem 1.612rem 0rem 1.65rem;
  width: 5.9616rem;
  height: 1.8rem;
  position: absolute;
  left: 2.3184rem;
  top: 1.4rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2575;
  letter-spacing: -0.03rem;
  color: #ffffff;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .header-NmE {
  width: 23.4rem;
  height: 1.9rem;
  position: absolute;
  left: 9.3rem;
  top: 5.6rem;
  overflow: hidden;
  display: flex;
  column-gap: 3.5rem;
  align-items: center;
}
.company-discription-sEp .group-141-Vmz .header-NmE .candidates-V5A {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.1725;
  color: rgba(255, 255, 255, 0.6000000238);
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.company-discription-sEp .group-141-Vmz .header-NmE .vector-1-D1A {
  width: 0;
  height: 1.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.company-discription-sEp .group-141-Vmz .header-NmE .companies-MNG {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.1725;
  letter-spacing: 0.01rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 {
  width: 41.4rem;
  height: 58.3rem;
  position: absolute;
  left: 0;
  top: 31.4rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .background-nyN {
  width: 41.4rem;
  height: 53.3rem;
  position: absolute;
  left: 0;
  top: 5rem;
  background: linear-gradient(180deg, rgba(228, 190, 192, 0.9599999785) 0%, rgba(252, 154, 159, 0.9599999785) 0.01%, rgba(228, 190, 192, 0.9599999785) 26.56%, rgba(228, 190, 192, 0.9599999785) 66.15%, rgba(228, 190, 192, 0.9599999785) 99.99%, rgba(228, 190, 192, 0.9599999785) 100%);
  border-radius: 0.8rem 0.8rem 0 0;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-15-NRn {
  width: 38.4rem;
  height: 11.8rem;
  position: absolute;
  left: 1.3rem;
  top: 16.9rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-15-NRn .group-10-hix {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-15-NRn .group-10-hix .group-18-Ty2 {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-15-NRn .group-10-hix .group-18-Ty2 .rectangle-5-LvL {
  width: 100%;
  height: 11.8rem;
  background-color: #f8f9fc;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-16-bLU {
  width: 38.4rem;
  height: 24.2rem;
  position: absolute;
  left: 1.3rem;
  top: 29.8rem;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-16-bLU .group-10-6o2 {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-16-bLU .group-10-6o2 .group-18-GSc {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-16-bLU .group-10-6o2 .group-18-GSc .rectangle-5-SM6 {
  width: 100%;
  height: 24.2rem;
  background-color: #f8f9fc;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .background-XtL {
  width: 41.4rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 56.6rem;
  box-shadow: 0 -0.033rem 0 #d0d1d3;
  background-color: #ffffff;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .ellipse-3-G5E {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 15.7rem;
  top: 0;
  border: solid 0.1rem #060606;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-3-bg-zNU.png');
  border-radius: 5rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .focus-it-services-and-it-consulting-whA {
  width: 18.6rem;
  height: 1.6rem;
  position: absolute;
  left: 15.7rem;
  top: 21.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #86878b;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .specializes-analytics-big-data-ml-ai-z9e {
  width: 19.6rem;
  height: 1.6rem;
  position: absolute;
  left: 15.7rem;
  top: 23.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #86878b;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .it-services-consulting-3tc {
  width: 14rem;
  height: 2rem;
  position: absolute;
  left: 13rem;
  top: 14.1rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6000000238);
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .fusionex-group-vxQ {
  width: 16.1rem;
  height: 3.1rem;
  position: absolute;
  left: 12.65rem;
  top: 11.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #161722;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .image-14-ECQ {
  width: 11.9rem;
  height: 12.7rem;
  position: absolute;
  left: 2.8rem;
  top: 17.9rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 3.1rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .hiring-9qA {
  width: 5.3rem;
  height: 2.6rem;
  position: absolute;
  left: 3.2rem;
  top: 30.8rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #161722;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .about-us-4x8 {
  width: 7.8rem;
  height: 2.6rem;
  position: absolute;
  left: 3.35rem;
  top: 18.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #161722;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-21-y3W {
  width: 32.4rem;
  height: 3.5rem;
  cursor: pointer;
  position: absolute;
  left: 4.3rem;
  top: 34.3rem;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-21-y3W .group-17-6dv {
  width: 32.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-21-y3W .group-17-6dv .group-10-3p4 {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-21-y3W .group-17-6dv .group-10-3p4 .group-18-1kt {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-21-y3W .group-17-6dv .group-10-3p4 .group-18-1kt .rectangle-5-NbS {
  width: 100%;
  height: 3.5rem;
  background-color: #f8f9fc;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-21-y3W .intern-software-engineer-dXN {
  width: 16.3rem;
  height: 1.9rem;
  position: absolute;
  left: 8rem;
  top: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #161722;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-22-K9J {
  width: 32.4rem;
  height: 3.5rem;
  position: absolute;
  left: 4.3rem;
  top: 39rem;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-22-K9J .group-17-r9E {
  width: 32.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-22-K9J .group-17-r9E .group-10-bsW {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-22-K9J .group-17-r9E .group-10-bsW .group-18-aL8 {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-22-K9J .group-17-r9E .group-10-bsW .group-18-aL8 .rectangle-5-jyi {
  width: 100%;
  height: 3.5rem;
  background-color: #f8f9fc;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-22-K9J .intern-web-development-eKz {
  width: 16.4rem;
  height: 1.9rem;
  position: absolute;
  left: 7.95rem;
  top: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #161722;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-23-umi {
  width: 32.4rem;
  height: 3.5rem;
  position: absolute;
  left: 4.3rem;
  top: 43.7rem;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-23-umi .group-17-RVA {
  width: 32.4rem;
  height: 3.5rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.150000006);
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-23-umi .group-17-RVA .group-10-Ypg {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-23-umi .group-17-RVA .group-10-Ypg .group-18-iUG {
  width: 100%;
  height: 100%;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-23-umi .group-17-RVA .group-10-Ypg .group-18-iUG .rectangle-5-HXN {
  width: 100%;
  height: 3.5rem;
  background-color: #f8f9fc;
  border-radius: 0.8rem;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .group-23-umi .full-stack-developer-b2G {
  width: 12.8rem;
  height: 1.9rem;
  position: absolute;
  left: 9.75rem;
  top: 0.7rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #161722;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.company-discription-sEp .group-141-Vmz .group-140-H12 .close-icon-5y2 {
  width: 0.95rem;
  height: 0.95rem;
  position: absolute;
  left: 38.825rem;
  top: 6.825rem;
  object-fit: contain;
  vertical-align: top;
}
