
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 41.4rem;
}.latest-info-YTA {
  width: 100%;
  height: 89.6rem;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffb9fc 15.38%, rgba(112, 19, 205, 0.0495720506) 82.69%, rgba(169, 94, 176, 0) 100%);
}
.latest-info-YTA .group-148-tG8 {
  width: 100%;
  height: 89.75rem;
  position: relative;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr {
  width: 41.4rem;
  height: 89.75rem;
  position: absolute;
  left: 0;
  top: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE {
  box-sizing: border-box;
  padding: 1.2rem 4.3rem 3.6rem 3.2rem;
  width: 37.3rem;
  height: 15.5rem;
  position: absolute;
  left: 2rem;
  top: 11.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .group-28-qKn {
  margin: 0rem 7.272rem 0.58rem 7.6rem;
  width: calc(100% - 14.8722rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .group-28-qKn .mask-group-Mov {
  margin-right: 0.5194rem;
  width: 3.1083rem;
  height: 1.8696rem;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .group-28-qKn .mystarjobcom-Hha {
  margin-top: 0.2203rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .group-29-zrt {
  margin: 0rem 4.881rem 1.113rem 9.1rem;
  width: calc(100% - 13.9808rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .group-29-zrt .item-2012-K8U {
  margin-right: 0.2073rem;
  width: 3.2119rem;
  height: 1.9942rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .group-29-zrt .june-2023-34U {
  margin-top: 0.1869rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-34-kZE .mystarjob-fair-in-setia-centre-wvY {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.445;
  color: #2e323b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 {
  box-sizing: border-box;
  padding: 1.2rem 3.2rem 0.4rem 3.2rem;
  width: 37.3rem;
  height: 15.5rem;
  position: absolute;
  left: 2.3rem;
  top: 28.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .group-28-vvt {
  margin: 0rem 8.572rem 0.58rem 7.6rem;
  width: calc(100% - 16.1722rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .group-28-vvt .mask-group-4GQ {
  margin-right: 0.5194rem;
  width: 3.1083rem;
  height: 1.8696rem;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .group-28-vvt .digital-penang-QLG {
  margin-top: 0.2203rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .group-29-j7e {
  margin: 0rem 7.981rem 1.113rem 9.1rem;
  width: calc(100% - 17.0808rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .group-29-j7e .item-2012-U5E {
  margin-right: 0.2073rem;
  width: 3.2119rem;
  height: 1.9942rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .group-29-j7e .may-2023-iVN {
  margin-top: 0.1869rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-36-c16 .adoption-of-blockchain-in-human-resource-qZz {
  margin-right: 5.1rem;
  max-width: 25.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.445;
  color: #2e323b;
  font-family: Jost, 'Source Sans Pro';
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k {
  box-sizing: border-box;
  padding: 1.2rem 3rem 2.2rem 3rem;
  width: 37.3rem;
  height: 15.5rem;
  position: absolute;
  left: 2.3rem;
  top: 61.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 2rem;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .group-28-aR6 {
  margin: 0rem 14.272rem 0.58rem 7.8rem;
  width: calc(100% - 22.0722rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .group-28-aR6 .mask-group-K7n {
  margin-right: 0.5194rem;
  width: 3.1083rem;
  height: 1.8696rem;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .group-28-aR6 .aramco-rdW {
  margin-top: 0.2203rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .group-29-zUp {
  margin: 0rem 13.581rem 2.513rem 9.3rem;
  width: calc(100% - 22.8808rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .group-29-zUp .item-2012-Wxx {
  margin-right: 0.2073rem;
  width: 3.2119rem;
  height: 1.9942rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .group-29-zUp .ended-3hz {
  margin-top: 0.1869rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-37-V8k .the-2022-annual-report-xpx {
  margin-right: 6.4rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.445;
  color: #2e323b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec {
  width: 37.3rem;
  height: 14.6rem;
  position: absolute;
  left: 2.3rem;
  top: 45.7rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .rectangle-25-wgt {
  width: 37.3rem;
  height: 13.6rem;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  backdrop-filter: blur(2.5rem);
  background-color: #ffffff;
  border-radius: 2rem;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .vhack-2023-competition-4mW {
  width: 25.2rem;
  height: 3.2rem;
  position: absolute;
  left: 3rem;
  top: 8.6rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.445;
  color: #2e323b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .group-28-ZiG {
  width: 22.8261rem;
  height: 2.7rem;
  position: absolute;
  left: 8.4rem;
  top: 1.4rem;
  display: flex;
  align-items: flex-start;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .group-28-ZiG .mask-group-6TJ {
  margin: 0.08rem 0.029rem 0rem 0rem;
  width: 4.6967rem;
  height: 1.8696rem;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .group-28-ZiG .varsity-hackathon-2023-cwS {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .group-29-knk {
  width: 10.3192rem;
  height: 2.8869rem;
  position: absolute;
  left: 12.8rem;
  top: 5rem;
  display: flex;
  align-items: flex-start;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .group-29-knk .item-2012-te4 {
  margin-right: 0.2073rem;
  width: 3.2119rem;
  height: 1.9942rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .group-30-cec .group-29-knk .ongoing-DwE {
  margin-top: 0.1869rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.445;
  color: #61646b;
  font-family: Jost, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .latest-info-Xwv {
  width: 21.8rem;
  height: 6.1rem;
  position: absolute;
  left: 8rem;
  top: 4.2rem;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 1.2575;
  color: #2e323b;
  font-family: PingFang SC, 'Source Sans Pro';
  white-space: nowrap;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .unsplash-8yg31xn4dsw-qxc {
  width: 33.1556rem;
  height: 12.4638rem;
  position: absolute;
  left: 5.9rem;
  top: 61.9rem;
  border-radius: 2rem;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .combined-shape-Mg4 {
  width: 2.2rem;
  height: 1.05rem;
  position: absolute;
  left: 37.5rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .rectangle-giL {
  width: 1.8rem;
  height: 0.65rem;
  position: absolute;
  left: 37.7rem;
  top: 1.8rem;
  background-color: #060606;
  border-radius: 0.1rem;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .wifi-Cwa {
  width: 1.6861rem;
  height: 1.0966rem;
  position: absolute;
  left: 34.8526rem;
  top: 1.5331rem;
  object-fit: contain;
  vertical-align: top;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .mobile-signal-jgc {
  width: 1.8768rem;
  height: 1.0667rem;
  position: absolute;
  left: 32.4208rem;
  top: 1.5667rem;
  object-fit: contain;
  vertical-align: top;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .time-style-UPJ {
  box-sizing: border-box;
  padding: 0rem 1.612rem 0rem 1.65rem;
  width: 5.9616rem;
  height: 1.8rem;
  position: absolute;
  left: 2.3184rem;
  top: 1.2rem;
  overflow: hidden;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2575;
  letter-spacing: -0.03rem;
  color: #171717;
  font-family: SF Pro Text, 'Source Sans Pro';
  white-space: nowrap;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .image-39-Kep {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 4.9rem;
  top: 63.1rem;
  object-fit: cover;
  vertical-align: top;
}
.latest-info-YTA .group-148-tG8 .group-135-Rmr .rectangle-59-SUY {
  width: 7rem;
  height: 7rem;
  position: absolute;
  left: 5.3rem;
  top: 47.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.latest-info-YTA .group-148-tG8 .auto-group-1ebj-MbW {
  box-sizing: border-box;
  padding: 2.15rem 1.45rem 45.2rem 5.3rem;
  width: 41.4rem;
  height: 82rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.latest-info-YTA .group-148-tG8 .auto-group-1ebj-MbW .bars-status-bar-iphone-x-4Vv {
  margin: 0rem 0rem 10.863rem 34.5rem;
  width: 0.15rem;
  height: 0.3874rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .auto-group-1ebj-MbW .image-42-m9S {
  margin: 0rem 27.05rem 10.8rem 0rem;
  width: 6.4rem;
  height: 6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .auto-group-1ebj-MbW .image-41-gnC {
  margin-right: 26.85rem;
  width: 7.8rem;
  height: 6.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .navigation-RDz {
  box-sizing: border-box;
  padding: 2.5rem 5rem 2.15rem 6.4rem;
  width: 41.4rem;
  height: 7.6rem;
  position: absolute;
  left: 0;
  top: 81.8rem;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ff0000 0%, #ff6363 0.01%, rgba(175, 67, 210, 0.6299999952) 74.48%, rgba(227, 94, 94, 0.7699999809) 99.99%);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.latest-info-YTA .group-148-tG8 .navigation-RDz .home-7cc {
  margin: 0rem 4.3rem 0.018rem 0rem;
  width: 2rem;
  height: 2.5323rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .navigation-RDz .profile-qoW {
  margin: 0rem 4.8rem 0.25rem 0rem;
  width: 2.4rem;
  height: 2.7rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .navigation-RDz .icon-inbox-jdz {
  margin: 0rem 4.5rem 0.35rem 0rem;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .navigation-RDz .save-rCp {
  margin: 0.6rem 4.9rem 0rem 0rem;
  width: 1.9rem;
  height: 2.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.latest-info-YTA .group-148-tG8 .navigation-RDz .video-nMN {
  margin-top: 0.25rem;
  width: 2.6rem;
  height: 2.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
